@import url(https://fonts.googleapis.com/css?family=Poiret+One:regular);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.infi_learn{
    background-color:rgb(0, 0, 0);
    margin: 0px;
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}



.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: rgb(0, 0, 0);
}

.navigation ul {
    text-align: center;
    list-style-type: none;
    padding: 20px;
    margin: 0;
    display: flex;
}

.navigation li {
    font-size: 20px;
    margin-right: 20px;
    padding: 20px;
}

.navigation a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: color 0.3s, background 0.3s;
    font-family: poiret one;
    letter-spacing: 2px;
    font-weight: bold;
}

.links{
    color: #ffffff;
}

.navigation a:hover {
    background: linear-gradient(to right,#fff, #3c3c3c);
    -webkit-background-clip: text;
    color: transparent;
}

.Welcome {
    text-align: center;
    margin-top: 150px;
    font-family: 'Lato', sans-serif;
    animation: slideUp 1s ease-out forwards;
}

.greet {
    font-size: 80px;
    font-family: poiret one;
    letter-spacing: 2px;
    font-weight: bold;
    background: linear-gradient(to right, #fff, #3c3c3c);
    -webkit-background-clip: text;
    color: transparent;
}

.sub_greet {
    font-size: 30px;
    font-family: poiret one;
    letter-spacing: 2px;
    font-weight: bold;
    color: #626262;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-size: 60px;
    background: linear-gradient(to right, #fff, #3c3c3c);
    -webkit-background-clip: text;
    color: transparent;
    animation: slideUp 1s ease-out forwards;
    
}

.about-content{
    text-align: center;
    color: #aba8a8;
    font-size: 20px;
    margin: 15px 150px;
    animation: slideUp 1s ease-out forwards;
}

.button-box{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideUp 1s ease-out forwards;
}

.know-more{
    background: linear-gradient(to right, #fff, #3c3c3c);
    -webkit-background-clip: text;
    border-style: solid;
    border-width: 2px;
    color: #fff;
}

.course-img{
    height: fit-content;
    width: fit-content;
    padding: 20px;
}

.list_of_courses{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

.python-course{
    color: #fff;
    margin: 30px;
    border-radius: 20px;
    height: 500px;
    margin: 30px;
}

.course{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-size: 60px;
    background: linear-gradient(to right, #fff, #3c3c3c);
    -webkit-background-clip: text;
    color: transparent;
    animation: slideUp 1s ease-out forwards;
}

.course-img{
    height: 150px;
    width: 150px;
}

.python-course :hover{
    transform: scale(1.1);
    transition: transform 0.5s;

}

.video-section{
    display: flex;
    justify-content: center;
}
.intro-to-py{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
    font-family: 'Lato', sans-serif;
    animation: slideUp 1s ease-out forwards;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    border-color: #2e2e2e;
}

.title{
    color: #aba8a8;
}

.description{
    font-family: 'Lato', sans-serif;
}

.para{
    font-family: 'Lato', sans-serif;
    color: #aba8a8;
}

.our-services{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
}

.sub{
    color: #aba8a8;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    color: #fff;
    margin-top: 50px;
}